.card-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 53px 5%;
  position: relative;
}

.card-header {
  font-size: 1.625rem;
}

.card-subtitle {
  font-size: 1.125rem;
  margin: 0.84375rem 0 4.5px;
}

.card-img {
  max-width: 95vw;
  height: auto;
  margin: -0.5rem 0;
  z-index: 2;
  position: relative;
}
.video-img-animation-container {
  position: relative;
}
.card-animation {
  position: absolute;
  left: 3em;
  top: 3em;
  z-index: 1;
  width: 16.2rem;
}
/* watch animation video */
.watch-animation-video {
  width: 14rem;
  top: 1.65rem;
  left: 4rem;
}
/* donwload card */
.downloadANIME {
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  background-color: black;
  border-radius: 7px;
  position: absolute;
  width: 74vw;
  bottom: 4.59rem;
  left: 3.5rem;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  text-align: start;
}
.downloadANIME-img {
  width: 3rem;
  height: 3rem;
}
.download-blue {
  color: #0071eb;
  font-size: 12px;
}
.downloadANIME p {
  font-weight: 600;
  font-size: 0.9rem;
}
.download-gif {
  width: 3em;
  height: 3em;
}

/* media queries  */
/* media queries  */
@media (min-width: 390px) {
  .downloadANIME {
    width: 70vw;
    left: 4rem;
    padding: 4px 10px;
  }
  .downloadANIME-img {
    width: 2.5rem;
    height: 3.2rem;
  }
  .card-animation {
    width: 17.4rem;
  }
  .watch-animation-video {
    width: 14.87rem;
  }
}

@media (min-width: 400px) {
  .downloadANIME {
    width: 68vw;
    left: 4.6rem;
    padding: 4px 10px;
  }
  .card-animation {
    width: 18.3rem;
  }
  .watch-animation-video {
    width: 15.7rem;
  }

  @media (min-width: 500px) {
    .card-subtitle {
      position: relative;
      z-index: 4;
    }
    .card-img {
      max-width: 90vw;
      height: auto;
      margin: -2rem;
      padding-bottom: 1.5rem;
    }
    .card-animation {
      width: 23rem;
      top: 2rem;
      left: 3.4rem;
    }
    /* donwload card */
    .downloadANIME {
      bottom: 5rem;
      padding: 9px 10px;
      width: 60vw;
      left: 5.7rem;
      padding: 4px 10px;
    }
    .downloadANIME-img {
      width: 2.3rem;
      height: 3rem;
    }
    .card-img {
      padding-bottom: 1.4rem;
    }
    /* custom style for the download image to add padding */
    .download-img-style {
      padding-bottom: 2rem;
    }
    .watch-animation-video {
      width: 18rem;
      left: 4.5rem;
    }
  }
}
