.card-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 53px 5%;
  position: relative;
}

.card-header {
  font-size: 1.625rem;
}

.card-subtitle {
  font-size: 1.125rem;
  margin: 0.84375rem 0 4.5px;
}

.card-img {
  max-width: 95vw;
  height: auto;
  margin: -0.5rem 0;
  z-index: 2;
  position: relative;
}
.video-img-animation-container {
  position: relative;
}
.card-animation {
  position: absolute;
  left: 3em;
  top: 3em;
  z-index: 1;
  width: 16.2rem;
}
/* watch animation video */
.watch-animation-video {
  width: 14rem;
  top: 1.65rem;
  left: 4rem;
}
/* donwload card */
.downloadANIME {
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  background-color: black;
  border-radius: 7px;
  position: absolute;
  width: 74vw;
  bottom: 4.59rem;
  left: 3.5rem;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  text-align: start;
}
.downloadANIME-img {
  width: 3rem;
  height: 3rem;
}
.download-blue {
  color: #0071eb;
  font-size: 12px;
}
.downloadANIME p {
  font-weight: 600;
  font-size: 0.9rem;
}
.download-gif {
  width: 3em;
  height: 3em;
}

/* media queries  */
/* media queries  */
@media (min-width: 390px) {
  .downloadANIME {
    width: 70vw;
    left: 4rem;
    padding: 4px 10px;
  }
  .downloadANIME-img {
    width: 2.5rem;
    height: 3.2rem;
  }
  .card-animation {
    width: 17.4rem;
  }
  .watch-animation-video {
    width: 14.87rem;
  }
}

@media (min-width: 400px) {
  .downloadANIME {
    width: 68vw;
    left: 4.6rem;
    padding: 4px 10px;
  }
  .card-animation {
    width: 18.3rem;
  }
  .watch-animation-video {
    width: 15.7rem;
  }

  @media (min-width: 500px) {
    .card-subtitle {
      position: relative;
      z-index: 4;
    }
    .card-img {
      max-width: 90vw;
      height: auto;
      margin: -2rem;
      padding-bottom: 1.5rem;
    }
    .card-animation {
      width: 65vw;
      top: 4.3vh;
      left: 11vw;
    }
    /* donwload card */
    .downloadANIME {
      bottom: 5rem;
      padding: 9px 10px;
      width: 60vw;
      left: 5.7rem;
      padding: 4px 10px;
    }
    .downloadANIME-img {
      width: 2.3rem;
      height: 3rem;
    }
    .card-img {
      padding-bottom: 1.4rem;
    }
    /* custom style for the download image to add padding */
    .download-img-style {
      padding-bottom: 0.9rem;
    }

    .watch-animation-video {
      width: 55vw;
      top: 0vh;
      left: 15.5vw;
    }
  }
}
@media (min-width: 549px) {
  .card-container {
    padding: 57px 45px;
  }

  .card-header {
    font-size: 2.5rem;
    margin: 0 0 8px;
  }

  .card-subtitle {
    font-size: 1.125rem;
    margin: 15px 0 5px;
    width: 70vw;
  }
  .card-img {
    max-width: 80vw;
    margin: -0.3rem;
    padding-bottom: 1.5rem;
  }
  .card-animation {
    width: 65vw;
    top: 4.3vh;
    left: 11vw;
  }
  /* donwload card */
  .downloadANIME {
    bottom: 8.5vh;
    width: 55vw;
    left: 20vw;
    padding: 14px 10px;
  }
  .downloadANIME-img {
    width: 3rem;
    height: 3.5rem;
  }

  .watch-animation-video {
    width: 50vw;
    left: 15vw;
    top: 3vh;
  }
}
@media (min-width: 739px) {
  .card-container {
    padding: 70px 45px;
  }
  .card-header {
    margin-top: 1rem;
  }
  .card-subtitle {
    margin: auto;
    width: 97%;
    font-size: 20px;
  }
  .card-img {
    max-width: 80vw;
    margin-top: -1.1rem;
    padding: 0;
  }
  .card-animation {
    width: 58vw;
    top: 6.3vh;
    left: 14vw;
  }
  /* donwload card */
  .downloadANIME {
    bottom: 9.5vh;
    width: 52vw;
    left: 22vw;
  }
  .download-animation-action {
    margin-right: auto;
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  .download-gif {
    width: 3rem;
  }

  /* watch animation video */
  .watch-animation-video {
    width: 50vw;
    left: 17vw;
    top: 1.5vh;
  }
}
@media (min-width: 949px) {
  .card-container {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
  }
  .change-order{
    order: 2;
    z-index: 3;
  }
  .card-container {
    padding: 70px 45px;
  }
  .card-description{
    padding-right: 48px;
  }
  .card-header {
    font-size: 3.125rem;
    margin-top: 0;
  }
  .card-subtitle {
    margin: auto;
    width: 97%;
    font-size: 26px;
  }
  .card-img {
    max-width: 41vw;
    margin-top: -1.1rem;
    padding: 0;
  }
  .card-animation {
    width: 32vw;
    top: 3.3vh;
    left: 5vw;
  }
  /* donwload card */
  .downloadANIME {
    bottom: 9vh;
    width: 27vw;
    left: 11vw;
  }
  .download-animation-action {
    margin-left: 1rem;
    font-size: 1rem;
  }
  .download-gif {
    width: 3rem;
  }

  /* watch animation video */
  .watch-animation-video {
    width: 25vw;
    left: 7vw;
    top: 1.5vh;
  }
}
