/* hero container*/
.hero-container {
  height: 29.2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('https://assets.nflxext.com/ffe/siteui/vlv3/1ef84595-1fdb-4404-adac-15215ceeb3ae/9b7e4892-200e-4740-909b-cdd33763fe9f/US-en-20220711-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50.1% 100%;
  background-size: 55rem;

}

/* hero nav elements */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.175rem 1.5rem 0px;
}

nav svg {
  width: 6rem;
  height: auto;
}

nav button {
  color: white;
  font-size: 0.9rem;
  background-color: #e50914;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  font-weight: 500;
}

/* hero main section */

.hero-main {
  color: white;
  width: 85vw;
  margin: auto;
  text-align: center;
  margin-top: 5rem;
}

.hero-main h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.hero-main input {
  width: 100%;
  height: 2.875rem;
  margin-top: 15px;
  margin-top: 14px;
  padding: 10px 10px 10px;
  color: #8c8c8c;
  font-size: 14px;
}

.hero-main p {
  font-size: 1.125rem;
}

.hero-main p:first-of-type {
  margin: 19px 0;
}

.hero-main button {
  background-color: #e50914;
  background-image: linear-gradient(180deg,#e50914,#db0510);
  color: white;
  border: none;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 9.6px 1rem;
  margin-top: 1.14rem;
}

@media (min-width: 500px)  {
  /* hero container*/
.hero-container {
  background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("https://assets.nflxext.com/ffe/siteui/vlv3/3a073c5f-0160-4d85-9a42-6f59aa4b64b9/3187860d-b0b5-4d82-88c3-034979c38e8b/US-en-20220718-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  height: 31.5rem;
  background-position: 50.1% 100%;
  background-size: 50rem;

}
/* hero main section */

.hero-main {

  width: 90vw;
  
  margin-top: 5.4rem;
}

.hero-main h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.hero-main input {
 height: 2.875rem;
 margin-top: 18px;
}
.hero-main button {

  font-size: 1rem;
  font-weight: 500;
  padding: 9.6px 1rem;
  margin-top: .8rem;
}
}