*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
button{
  cursor: pointer;
}
hr{
  height: .6rem;
  background-color: #222222;
  border: none;
}